/*---------------------------------------------------------------*/
/* CIS 170: Button */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Button */
/*--------------------------------*/
button {
    /*RESET*/
    outline: none;
    border: none;
    cursor: pointer;
    /*BACKGROUND*/
    background-color: var(--color-background);
    /*TEXT*/
    font-weight: 500;
    color: var(--color-stroke);
    /*TRANSITION*/
    transition: var(--ui-transition);
}
/*--------------------------------*/
/* Button - Action */
/*--------------------------------*/
button[class$="--action"] {
    /*POSITION*/
    padding: 6px 18px;
    /*BORDER*/
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-left: 1px solid var(--color-strokeDim);
    border-right: 1px solid var(--color-strokeDim);
    border-top: 1px solid var(--color-strokeDim);
    /*TEXT*/
    font-size: 18px;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Button - Action(Hover) */
/*--------------------------------*/
button[class$="--action"]:hover {
    /*BACKGROUND*/
    background: var(--color-strokeDim);
    /*TEXT*/
    color: var(--color-background);
    /*SHADOW*/
    box-shadow: 0 8px 0 0 var(--color-stroke);
    /*TRANSFORM*/
    transform: translateY(-8px);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Button - Action(Active) */
/*--------------------------------*/
button[class$="--action"]:active {
    box-shadow: 0 0px 0 0 var(--color-stroke);
    /*TRANSFORM*/
    transform: translateY(0px);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Button: */
/*--------------------------------*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/