/*---------------------------------------------------------------*/
/* CIS 170: Button */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Button */
/*--------------------------------*/
button {
    /*RESET*/
    outline: none;
    border: none;
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    background-color: var(--color-background);
    /*BORDER*/
    /*TEXT*/
    font-weight: 500;
    color: var(--color-stroke);
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Button - Action */
/*--------------------------------*/
button[class$="--action"] {
    /*POSITION*/
    padding: 6px 18px;
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-left: 1px solid var(--color-strokeDim);
    border-right: 1px solid var(--color-strokeDim);
    border-top: 1px solid var(--color-strokeDim);
    /*TEXT*/
    font-size: 18px;
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Button: */
/*--------------------------------*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/