/*---------------------------------------------------------------*/
/* CIS 170: Semantic | Main */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Semantic: All */
/*--------------------------------*/
nav,
header,
main,
footer {
    /*GRID*/
    grid-column: 1;
}
/*--------------------------------*/
/* Header: Nav */
/*--------------------------------*/
nav {
    /*GRID*/
    grid-row: 1;
    /*POSITION*/
    padding: 24px;
    /*DISPLAY*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*BORDER*/
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 1px solid var(--color-strokeDim);
    border-right: 1px solid var(--color-strokeDim);
    border-bottom: 1px solid var(--color-strokeDim);
    /*TEXT*/
    color: red;
}
nav small {display: none;}
/*--------------------------------*/
/* Header */
/*--------------------------------*/
header {
    /*GRID*/
    grid-row: 2;
    justify-self: center;
    align-self: center;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Main */
/*--------------------------------*/
main {
    /*GRID*/
    grid-row: 3;
    /*POSITION*/
    padding: 0 12px;
    /*DISPLAY*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 9fr auto;
    /*BORDER*/
    border-radius: 8px;
    border: 1px solid var(--color-strokeDim);
    /*DEBUGGING*/
}
/*main > * {border: 1px solid red;}*/
/*--------------------------------*/
/* Main - Section: All */
/*--------------------------------*/
main section {grid-column: 1;}
main section:not(:last-child) {
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    align-items: center;
}
main section:not(:last-child):nth-of-type(1) {
    /*FLEX*/
    flex: 1;
    /*BORDER*/
    border-bottom: 1px solid var(--color-strokeDim);
}
main section:not(:last-child):nth-of-type(2) {
    /*FLEX*/
    flex: 3;
    /*BORDER*/
    border-bottom: 1px solid var(--color-strokeDim);
}
/*--------------------------------*/
/* Main - Section */
/*--------------------------------*/
main section:last-child {
    /*GRID*/
    grid-row: 4;
    justify-self: center;
}
/*--------------------------------*/
/* Main - Article */
/*--------------------------------*/
main section:not(:last-child) article {
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
main section:nth-of-type(1) article {color: var(--color-root);}
main section:nth-of-type(2) article {color: var(--color-number);}
main section:nth-of-type(3) article {color: var(--color-cube);}
/*--------------------------------*/
/* Main - Article: p */
/*--------------------------------*/
main section:not(:last-child) article p {
    /*POSITION*/
    margin-left: 12px;
}
/*--------------------------------*/
/* Footer */
/*--------------------------------*/
footer {
    /*GRID*/
    grid-row: 4;
    justify-self: center;
    /*TEXT*/
    color: var(--color-strokeDim);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/