/*---------------------------------------------------------------*/
/* CIS 170: Semantic | Main */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Imports: */
/*--------------------------------*/
@import url(semantic_nav.css);
@import url(semantic_header.css);
@import url(semantic_main.css);
@import url(semantic_footer.css);
/*---------------------------------------------------------------*/
/* CIS 170: Semantic | Main: */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Semantic: All */
/*--------------------------------*/
nav,
header,
main,
footer {
    /*GRID*/
    grid-column: 1;
}
/*--------------------------------*/
/* Header: Nav */
/*--------------------------------*/
nav {
    /*GRID*/
    grid-row: 1;
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 1px solid var(--color-strokeDim);
    border-right: 1px solid var(--color-strokeDim);
    border-bottom: 1px solid var(--color-strokeDim);
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Header */
/*--------------------------------*/
header {
    /*GRID*/
    grid-row: 2;
    justify-self: center;
    align-self: center;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Aside */
/*--------------------------------*/
aside {
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Main */
/*--------------------------------*/
main {
    /*GRID*/
    grid-row: 3;
    /*DISPLAY*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr) auto;
    /*BORDER*/
    border-radius: 8px;
    border: 1px solid var(--color-strokeDim);
    /*DEBUGGING*/
}
main > * {border: 1px solid red;}
/*--------------------------------*/
/* Main - Section: All */
/*--------------------------------*/
main section {grid-column: 1;}
main section:not(:last-child) {
    /*GRID*/
    align-self: center;
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
}
main section:not(:last-child):nth-of-type(1) {flex: 1;}
main section:not(:last-child):nth-of-type(2) {flex: 3;}
/*--------------------------------*/
/* Main - Section */
/*--------------------------------*/
main section:last-child {
    /*GRID*/
    grid-row: 4;
    justify-self: center;
}
/*--------------------------------*/
/* Footer */
/*--------------------------------*/
footer {
    /*GRID*/
    grid-row: 4;
    justify-self: center;
    /*TEXT*/
    color: var(--color-strokeDim);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/