/*---------------------------------------------------------------*/
/* CIS 170: Main */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Imports: Semantic */
/*--------------------------------*/
@import url(semantic/semantic.css);
/*--------------------------------*/
/* Imports: Resets */
/*--------------------------------*/
@import url(resets/reset.button.css);
/*--------------------------------*/
/* Imports: Elements */
/*--------------------------------*/
@import url(elements/element_cube.css);
/*--------------------------------*/
/* Media Queries */
/*--------------------------------*/
/*
@import url(media_queries/media_queries__main_lg.css) screen and (min-width:1200px);
@import url(media_queries/media_queries__main_md.css) screen and (min-width:700px) and (max-width:1200px);
@import url(media_queries/media_queries__main_sm.css) screen and (min-width:0px) and (max-width:700px);
*/
/*--------------------------------*/
/* Root */
/*--------------------------------*/ 
:root {
    /*DEBUGGING*/
    --debug-border: 1px solid red;
    --debug-bkrnd: rgba(255, 0, 0, 0.4);
    --debug-test-var: 100%;
    
    /*UI*/
    --ui-font-family: Arial, Helvetica, sans-serif;
    --ui-padding: 10px;
    --ui-border-radius: 10px;
    --ui-grid-gap: 12px;

    /*COLORS*/
    --color-background: #f9f7f3;
    --color-stroke: #3e3e3e;
    --color-strokeDim: #7f7f7f;
    --color-number: #843fa1;
    --color-numberStroke: #371D06;
    --color-numberContainer: #d5b6e2;
    --color-cube: #e67e23;
    --color-cubeStroke: #371D06;
    --color-cubeContainer: #F1B47E;
    --color-root: #008080;
    --color-rootStroke: #003D3D;
    --color-rootContainer: #ADFFFF;

    /*SHADOW*/
    --ui-shadow-off: 2px 2px 12px 6px rgba(0, 0, 0, 0.0);
    --ui-shadow-on: 2px 2px 12px 6px rgba(0, 0, 0, 0.4);

    /*TRANSITIONS*/
    --ui-transition: all 0.95s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    /*SEMANTIC*/
}
/*--------------------------------*/
/* Overall */
/*--------------------------------*/        
* {
    /*POSITION*/
    margin: 0;
    padding: 0;
    /*DISPLAY*/
    box-sizing: border-box;
}
/*--------------------------------*/
/* Body */
/*--------------------------------*/
body {
    /*POSITION*/
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
    /*BACKGROUND*/
    background: var(--color-background);
    /*TEXT*/
    font-family: var(--ui-font-family);
    color: var(--color-stroke);
}
/*--------------------------------*/
/* Grid Container */
/*--------------------------------*/        
.grid {
    /*POSITION*/
    padding: 0 24px;
    /*DISPLAY*/
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 60px) calc(100% - 150px - (3*var(--ui-grid-gap))) 30px;
    grid-gap: var(--ui-grid-gap);
    /*DEBUGGING*/
    border: var(--debug-border);
}
/*.grid > * {border: var(--debug-border);}*/
/*--------------------------------*/
/* Flex Container */
/*--------------------------------*/
.flex {
    /*display*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /*DEBUGGING*/
    /*border: var(--debug-border);*/
}
/*---------------------------------------------------------------*/
/* Main: Animation-Class */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Animation-Class: Prefix */
/*--------------------------------*/
[data-animation],
div[class*="animation"],
img[class*="animation"] {
    /*vars-animations main*/
    animation-name: var(--animation-name, none);
    animation-duration: var(--animation-duration, 1.0s);
    animation-timing-function: var(--animation-timing-function, cubic-bezier(0.175, 0.885, 0.32, 1.275));
    animation-delay: var(--animation-delay, 0.0s);
    animation-iteration-count: var(--animation-iteration-count, 1);
    animation-fill-mode: var(--animation-fill-mode, forwards);
    animation-play-state: var(--animation-play-state, paused);
}
.paused { --animation-play-state: paused;}
.running { --animation-play-state: running;}
/*---------------------------------------------------------------*/
/* Template: */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/